CONFIG_LINUX_COMMAND_LINE="console=ttyAMA0,115200"
CONFIG_VENDOR_EMULATION=y
CONFIG_MAINBOARD_VENDOR="Emulation"
CONFIG_CBFS_SIZE=0x04000000
CONFIG_BOARD_EMULATION_QEMU_AARCH64=y
CONFIG_COREBOOT_ROMSIZE_KB_65536=y
CONFIG_COREBOOT_ROMSIZE_KB=65536
CONFIG_ROM_SIZE=0x04000000

# PAYLOAD_NONE=y is a default since Coreboot v4.19 (ffc79fb)
# except for x86. PAYLOAD_FIT/FILE options are ignored then.
CONFIG_PAYLOAD_NONE=n
CONFIG_PAYLOAD_FIT_SUPPORT=y
CONFIG_PAYLOAD_FIT=y
CONFIG_PAYLOAD_FILE="uImage"
